<% layout('../layouts/mainlayout.ejs') -%>
<br/><br/>
<b>Flash Card Detail</b>

<b>Title:</b> <%= cards.title %>  <br/>
<b>Context:</b> <%= cards.context %>

<!-- Created a button that links to the delete function -->
<form  method="POST" action=<%= cards.id + "/Delete" %>>
<button type="submit">Delete</button>
</form>

<a href=<%= "/Card/Detail/" + cards.id + "/Edit" %>>Edit</a>