<% layout('../layouts/mainlayout.ejs') -%>
<br/><br/>
<h1>Flash Card Detail</h1>

<h2>Title:</h2> <%= cards.title %>  <br/>
<h2>Context:</h2> <%= cards.context %>

<br/><br/>
<!-- Created a button that links to the delete function -->
<form  method="POST" action=<%= cards.id + "/Delete" %>>
<button type="submit">Delete</button>
</form>

<a href=<%= "/Card/Detail/" + cards.id + "/Edit" %>>Edit</a>