<% layout('../layouts/mainlayout.ejs') -%>
<br/><br/>
<h1>Flash Card Listing</h1>

<form action="/Card/Search" method="POST">   
  <input type="text" name="title" value="<%= cards.title ? cards.title : '' %>" placeholder="Search Cards with Title...">
  <br/>
  <input type="submit" value="Submit">
</form>

<table>
<% for(var i=0; i < cards.length; i++) { %>
    <tr>
      <td><h2>Card Title:</h2><%= cards[i].title %></td>
      <td><a href=<%='/Card/Detail/' + cards[i].id %>>Detail</a></td>
    </tr>
 <% } %>
</table>
  
<footer>
    <p>Created by Group 14 - Aron Y., Daphney C., Richard W., Clinton W.</p>
</footer>
</body>
</html>

