<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>
<body>
<main role="main" class="container">
    <div class="starter-template">
        <a href='/'>Home</a> | 
        <a href='/Card/Index'>View my Cards List</a><br/>
        <a href='/Card/Create'> Create new Flashcard</a>

        <!-- Child view goes here. -->
        <%- body %>
    </div>
</main>
</body>
</html>
