* {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: end;
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin-top: 0;
    padding-left: 2rem;
}

.starter-template {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

h1, h2 {
    color: black;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
}

a:link, a:visited{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
}

a:hover, a:active{
    color:#000000;
    background-color:#FFFFFF;
}

table {
    margin: 1rem;
    padding-top: 1rem;
    width: 100%;
}

td{
    display:block; 
    box-sizing:border-box; 
    clear:both;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    transition: width 0.4s ease-in-out;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

button[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.cardContext {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

footer > p {
    background-color: #31748f;
    color: #ffffff;
    margin: 0;
    padding: 16px;
    text-align: center;
    position:fixed;
    bottom:0;
    width:100%;
}

@media screen and (min-width: 640px) {

}